FeriaWebApp/xml-resources/web-service-references/WebServiceProducto/wsdl/feriaweb.ddns.net_1992/WebServiceProducto.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="retornaTodosLosProductos">
        <s:complexType />
      </s:element>
      <s:element name="retornaTodosLosProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaTodosLosProductosResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Familia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fotografia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guardarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="posicion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionProductoResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscaProductoResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizaProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminaProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="esActivo">
        <s:complexType />
      </s:element>
      <s:element name="esActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="esActivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="retornaTodosLosProductosSoapIn">
    <wsdl:part name="parameters" element="tns:retornaTodosLosProductos" />
  </wsdl:message>
  <wsdl:message name="retornaTodosLosProductosSoapOut">
    <wsdl:part name="parameters" element="tns:retornaTodosLosProductosResponse" />
  </wsdl:message>
  <wsdl:message name="guardarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:guardarProducto" />
  </wsdl:message>
  <wsdl:message name="guardarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:guardarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="posicionProductoSoapIn">
    <wsdl:part name="parameters" element="tns:posicionProducto" />
  </wsdl:message>
  <wsdl:message name="posicionProductoSoapOut">
    <wsdl:part name="parameters" element="tns:posicionProductoResponse" />
  </wsdl:message>
  <wsdl:message name="buscaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:buscaProducto" />
  </wsdl:message>
  <wsdl:message name="buscaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:buscaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="actualizaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:actualizaProducto" />
  </wsdl:message>
  <wsdl:message name="actualizaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:actualizaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminaProducto" />
  </wsdl:message>
  <wsdl:message name="eliminaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapIn">
    <wsdl:part name="parameters" element="tns:esActivo" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapOut">
    <wsdl:part name="parameters" element="tns:esActivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceProductoSoap">
    <wsdl:operation name="retornaTodosLosProductos">
      <wsdl:input message="tns:retornaTodosLosProductosSoapIn" />
      <wsdl:output message="tns:retornaTodosLosProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarProducto">
      <wsdl:input message="tns:guardarProductoSoapIn" />
      <wsdl:output message="tns:guardarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionProducto">
      <wsdl:input message="tns:posicionProductoSoapIn" />
      <wsdl:output message="tns:posicionProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscaProducto">
      <wsdl:input message="tns:buscaProductoSoapIn" />
      <wsdl:output message="tns:buscaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizaProducto">
      <wsdl:input message="tns:actualizaProductoSoapIn" />
      <wsdl:output message="tns:actualizaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminaProducto">
      <wsdl:input message="tns:eliminaProductoSoapIn" />
      <wsdl:output message="tns:eliminaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <wsdl:input message="tns:esActivoSoapIn" />
      <wsdl:output message="tns:esActivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceProductoSoap" type="tns:WebServiceProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodosLosProductos">
      <soap:operation soapAction="http://tempuri.org/retornaTodosLosProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarProducto">
      <soap:operation soapAction="http://tempuri.org/guardarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionProducto">
      <soap:operation soapAction="http://tempuri.org/posicionProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaProducto">
      <soap:operation soapAction="http://tempuri.org/buscaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaProducto">
      <soap:operation soapAction="http://tempuri.org/actualizaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaProducto">
      <soap:operation soapAction="http://tempuri.org/eliminaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceProductoSoap12" type="tns:WebServiceProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodosLosProductos">
      <soap12:operation soapAction="http://tempuri.org/retornaTodosLosProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarProducto">
      <soap12:operation soapAction="http://tempuri.org/guardarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionProducto">
      <soap12:operation soapAction="http://tempuri.org/posicionProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaProducto">
      <soap12:operation soapAction="http://tempuri.org/buscaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaProducto">
      <soap12:operation soapAction="http://tempuri.org/actualizaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaProducto">
      <soap12:operation soapAction="http://tempuri.org/eliminaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap12:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProducto">
    <wsdl:port name="WebServiceProductoSoap" binding="tns:WebServiceProductoSoap">
      <soap:address location="http://feriaweb.ddns.net:1992/WebServiceProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceProductoSoap12" binding="tns:WebServiceProductoSoap12">
      <soap12:address location="http://feriaweb.ddns.net:1992/WebServiceProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>