FeriaWebApp/src/META-INF/wsdl/localhost_64929/WebServiceCliente.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="retornaTodosLosClientes">
        <s:complexType />
      </s:element>
      <s:element name="retornaTodosLosClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaTodosLosClientesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Clientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Clientes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Amaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="Celular" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="Fax" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Comuna" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitud" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitud" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guardarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionPais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="posicion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionPaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionPaisResult" type="tns:Clientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscaClienteResult" type="tns:Clientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Clientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizaClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminaClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="esActivo">
        <s:complexType />
      </s:element>
      <s:element name="esActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="esActivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="retornaTodosLosClientesSoapIn">
    <wsdl:part name="parameters" element="tns:retornaTodosLosClientes" />
  </wsdl:message>
  <wsdl:message name="retornaTodosLosClientesSoapOut">
    <wsdl:part name="parameters" element="tns:retornaTodosLosClientesResponse" />
  </wsdl:message>
  <wsdl:message name="guardarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:guardarCliente" />
  </wsdl:message>
  <wsdl:message name="guardarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:guardarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="posicionPaisSoapIn">
    <wsdl:part name="parameters" element="tns:posicionPais" />
  </wsdl:message>
  <wsdl:message name="posicionPaisSoapOut">
    <wsdl:part name="parameters" element="tns:posicionPaisResponse" />
  </wsdl:message>
  <wsdl:message name="buscaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:buscaCliente" />
  </wsdl:message>
  <wsdl:message name="buscaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:buscaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="actualizaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizaCliente" />
  </wsdl:message>
  <wsdl:message name="actualizaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="eliminaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:eliminaCliente" />
  </wsdl:message>
  <wsdl:message name="eliminaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:eliminaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapIn">
    <wsdl:part name="parameters" element="tns:esActivo" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapOut">
    <wsdl:part name="parameters" element="tns:esActivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceClienteSoap">
    <wsdl:operation name="retornaTodosLosClientes">
      <wsdl:input message="tns:retornaTodosLosClientesSoapIn" />
      <wsdl:output message="tns:retornaTodosLosClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarCliente">
      <wsdl:input message="tns:guardarClienteSoapIn" />
      <wsdl:output message="tns:guardarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionPais">
      <wsdl:input message="tns:posicionPaisSoapIn" />
      <wsdl:output message="tns:posicionPaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscaCliente">
      <wsdl:input message="tns:buscaClienteSoapIn" />
      <wsdl:output message="tns:buscaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizaCliente">
      <wsdl:input message="tns:actualizaClienteSoapIn" />
      <wsdl:output message="tns:actualizaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminaCliente">
      <wsdl:input message="tns:eliminaClienteSoapIn" />
      <wsdl:output message="tns:eliminaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <wsdl:input message="tns:esActivoSoapIn" />
      <wsdl:output message="tns:esActivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceClienteSoap" type="tns:WebServiceClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodosLosClientes">
      <soap:operation soapAction="http://tempuri.org/retornaTodosLosClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarCliente">
      <soap:operation soapAction="http://tempuri.org/guardarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionPais">
      <soap:operation soapAction="http://tempuri.org/posicionPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaCliente">
      <soap:operation soapAction="http://tempuri.org/buscaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaCliente">
      <soap:operation soapAction="http://tempuri.org/actualizaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaCliente">
      <soap:operation soapAction="http://tempuri.org/eliminaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceClienteSoap12" type="tns:WebServiceClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodosLosClientes">
      <soap12:operation soapAction="http://tempuri.org/retornaTodosLosClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarCliente">
      <soap12:operation soapAction="http://tempuri.org/guardarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionPais">
      <soap12:operation soapAction="http://tempuri.org/posicionPais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaCliente">
      <soap12:operation soapAction="http://tempuri.org/buscaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaCliente">
      <soap12:operation soapAction="http://tempuri.org/actualizaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaCliente">
      <soap12:operation soapAction="http://tempuri.org/eliminaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap12:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCliente">
    <wsdl:port name="WebServiceClienteSoap" binding="tns:WebServiceClienteSoap">
      <soap:address location="http://localhost:64929/WebServiceCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceClienteSoap12" binding="tns:WebServiceClienteSoap12">
      <soap12:address location="http://localhost:64929/WebServiceCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>