FeriaWebApp/src/META-INF/wsdl/feriaweb.ddns.net_2095/WebServiceMetodopago.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="retornaTodosLosMetodosPago">
        <s:complexType />
      </s:element>
      <s:element name="retornaTodosLosMetodosPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaTodosLosMetodosPagoResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarMetodoPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metodopago" type="tns:MetodoPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MetodoPago">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarMetodoPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guardarMetodoPagoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionMetodopago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="posicion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionMetodopagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionMetodopagoResult" type="tns:MetodoPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaMetodopago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMetodo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaMetodopagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscaMetodopagoResult" type="tns:MetodoPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaMetodopago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metodo" type="tns:MetodoPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaMetodopagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizaMetodopagoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaMetodopago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMetodo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaMetodopagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminaMetodopagoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="esActivo">
        <s:complexType />
      </s:element>
      <s:element name="esActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="esActivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="retornaTodosLosMetodosPagoSoapIn">
    <wsdl:part name="parameters" element="tns:retornaTodosLosMetodosPago" />
  </wsdl:message>
  <wsdl:message name="retornaTodosLosMetodosPagoSoapOut">
    <wsdl:part name="parameters" element="tns:retornaTodosLosMetodosPagoResponse" />
  </wsdl:message>
  <wsdl:message name="guardarMetodoPagoSoapIn">
    <wsdl:part name="parameters" element="tns:guardarMetodoPago" />
  </wsdl:message>
  <wsdl:message name="guardarMetodoPagoSoapOut">
    <wsdl:part name="parameters" element="tns:guardarMetodoPagoResponse" />
  </wsdl:message>
  <wsdl:message name="posicionMetodopagoSoapIn">
    <wsdl:part name="parameters" element="tns:posicionMetodopago" />
  </wsdl:message>
  <wsdl:message name="posicionMetodopagoSoapOut">
    <wsdl:part name="parameters" element="tns:posicionMetodopagoResponse" />
  </wsdl:message>
  <wsdl:message name="buscaMetodopagoSoapIn">
    <wsdl:part name="parameters" element="tns:buscaMetodopago" />
  </wsdl:message>
  <wsdl:message name="buscaMetodopagoSoapOut">
    <wsdl:part name="parameters" element="tns:buscaMetodopagoResponse" />
  </wsdl:message>
  <wsdl:message name="actualizaMetodopagoSoapIn">
    <wsdl:part name="parameters" element="tns:actualizaMetodopago" />
  </wsdl:message>
  <wsdl:message name="actualizaMetodopagoSoapOut">
    <wsdl:part name="parameters" element="tns:actualizaMetodopagoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminaMetodopagoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminaMetodopago" />
  </wsdl:message>
  <wsdl:message name="eliminaMetodopagoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminaMetodopagoResponse" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapIn">
    <wsdl:part name="parameters" element="tns:esActivo" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapOut">
    <wsdl:part name="parameters" element="tns:esActivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMetodopagoSoap">
    <wsdl:operation name="retornaTodosLosMetodosPago">
      <wsdl:input message="tns:retornaTodosLosMetodosPagoSoapIn" />
      <wsdl:output message="tns:retornaTodosLosMetodosPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarMetodoPago">
      <wsdl:input message="tns:guardarMetodoPagoSoapIn" />
      <wsdl:output message="tns:guardarMetodoPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionMetodopago">
      <wsdl:input message="tns:posicionMetodopagoSoapIn" />
      <wsdl:output message="tns:posicionMetodopagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscaMetodopago">
      <wsdl:input message="tns:buscaMetodopagoSoapIn" />
      <wsdl:output message="tns:buscaMetodopagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizaMetodopago">
      <wsdl:input message="tns:actualizaMetodopagoSoapIn" />
      <wsdl:output message="tns:actualizaMetodopagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminaMetodopago">
      <wsdl:input message="tns:eliminaMetodopagoSoapIn" />
      <wsdl:output message="tns:eliminaMetodopagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <wsdl:input message="tns:esActivoSoapIn" />
      <wsdl:output message="tns:esActivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMetodopagoSoap" type="tns:WebServiceMetodopagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodosLosMetodosPago">
      <soap:operation soapAction="http://tempuri.org/retornaTodosLosMetodosPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarMetodoPago">
      <soap:operation soapAction="http://tempuri.org/guardarMetodoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionMetodopago">
      <soap:operation soapAction="http://tempuri.org/posicionMetodopago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaMetodopago">
      <soap:operation soapAction="http://tempuri.org/buscaMetodopago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaMetodopago">
      <soap:operation soapAction="http://tempuri.org/actualizaMetodopago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaMetodopago">
      <soap:operation soapAction="http://tempuri.org/eliminaMetodopago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMetodopagoSoap12" type="tns:WebServiceMetodopagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodosLosMetodosPago">
      <soap12:operation soapAction="http://tempuri.org/retornaTodosLosMetodosPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarMetodoPago">
      <soap12:operation soapAction="http://tempuri.org/guardarMetodoPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionMetodopago">
      <soap12:operation soapAction="http://tempuri.org/posicionMetodopago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaMetodopago">
      <soap12:operation soapAction="http://tempuri.org/buscaMetodopago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaMetodopago">
      <soap12:operation soapAction="http://tempuri.org/actualizaMetodopago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaMetodopago">
      <soap12:operation soapAction="http://tempuri.org/eliminaMetodopago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap12:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMetodopago">
    <wsdl:port name="WebServiceMetodopagoSoap" binding="tns:WebServiceMetodopagoSoap">
      <soap:address location="http://feriaweb.ddns.net:2095/WebServiceMetodopago.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMetodopagoSoap12" binding="tns:WebServiceMetodopagoSoap12">
      <soap12:address location="http://feriaweb.ddns.net:2095/WebServiceMetodopago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>