FeriaWebApp/src/META-INF/WebServiceAgrupacion.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="retornaTodasLasAgrupaciones">
        <s:complexType />
      </s:element>
      <s:element name="retornaTodasLasAgrupacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaTodasLasAgrupacionesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarAgrupacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agrupacion" type="tns:Agrupacion_Agricultores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Agrupacion_Agricultores">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="Comuna" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="guardarAgrupacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guardarAgrupacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionAgrupacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="posicion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="posicionAgrupacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="posicionAgrupacionResult" type="tns:Agrupacion_Agricultores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaAgrupacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAgrupacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscaAgrupacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscaAgrupacionResult" type="tns:Agrupacion_Agricultores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaAgrupacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agrupacion" type="tns:Agrupacion_Agricultores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaAgrupacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizaAgrupacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaPais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAgrupacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaPaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminaPaisResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="esActivo">
        <s:complexType />
      </s:element>
      <s:element name="esActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="esActivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="retornaTodasLasAgrupacionesSoapIn">
    <wsdl:part name="parameters" element="tns:retornaTodasLasAgrupaciones" />
  </wsdl:message>
  <wsdl:message name="retornaTodasLasAgrupacionesSoapOut">
    <wsdl:part name="parameters" element="tns:retornaTodasLasAgrupacionesResponse" />
  </wsdl:message>
  <wsdl:message name="guardarAgrupacionSoapIn">
    <wsdl:part name="parameters" element="tns:guardarAgrupacion" />
  </wsdl:message>
  <wsdl:message name="guardarAgrupacionSoapOut">
    <wsdl:part name="parameters" element="tns:guardarAgrupacionResponse" />
  </wsdl:message>
  <wsdl:message name="posicionAgrupacionSoapIn">
    <wsdl:part name="parameters" element="tns:posicionAgrupacion" />
  </wsdl:message>
  <wsdl:message name="posicionAgrupacionSoapOut">
    <wsdl:part name="parameters" element="tns:posicionAgrupacionResponse" />
  </wsdl:message>
  <wsdl:message name="buscaAgrupacionSoapIn">
    <wsdl:part name="parameters" element="tns:buscaAgrupacion" />
  </wsdl:message>
  <wsdl:message name="buscaAgrupacionSoapOut">
    <wsdl:part name="parameters" element="tns:buscaAgrupacionResponse" />
  </wsdl:message>
  <wsdl:message name="actualizaAgrupacionSoapIn">
    <wsdl:part name="parameters" element="tns:actualizaAgrupacion" />
  </wsdl:message>
  <wsdl:message name="actualizaAgrupacionSoapOut">
    <wsdl:part name="parameters" element="tns:actualizaAgrupacionResponse" />
  </wsdl:message>
  <wsdl:message name="eliminaPaisSoapIn">
    <wsdl:part name="parameters" element="tns:eliminaPais" />
  </wsdl:message>
  <wsdl:message name="eliminaPaisSoapOut">
    <wsdl:part name="parameters" element="tns:eliminaPaisResponse" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapIn">
    <wsdl:part name="parameters" element="tns:esActivo" />
  </wsdl:message>
  <wsdl:message name="esActivoSoapOut">
    <wsdl:part name="parameters" element="tns:esActivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAgrupacionSoap">
    <wsdl:operation name="retornaTodasLasAgrupaciones">
      <wsdl:input message="tns:retornaTodasLasAgrupacionesSoapIn" />
      <wsdl:output message="tns:retornaTodasLasAgrupacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarAgrupacion">
      <wsdl:input message="tns:guardarAgrupacionSoapIn" />
      <wsdl:output message="tns:guardarAgrupacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="posicionAgrupacion">
      <wsdl:input message="tns:posicionAgrupacionSoapIn" />
      <wsdl:output message="tns:posicionAgrupacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscaAgrupacion">
      <wsdl:input message="tns:buscaAgrupacionSoapIn" />
      <wsdl:output message="tns:buscaAgrupacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizaAgrupacion">
      <wsdl:input message="tns:actualizaAgrupacionSoapIn" />
      <wsdl:output message="tns:actualizaAgrupacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminaPais">
      <wsdl:input message="tns:eliminaPaisSoapIn" />
      <wsdl:output message="tns:eliminaPaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <wsdl:input message="tns:esActivoSoapIn" />
      <wsdl:output message="tns:esActivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAgrupacionSoap" type="tns:WebServiceAgrupacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodasLasAgrupaciones">
      <soap:operation soapAction="http://tempuri.org/retornaTodasLasAgrupaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarAgrupacion">
      <soap:operation soapAction="http://tempuri.org/guardarAgrupacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionAgrupacion">
      <soap:operation soapAction="http://tempuri.org/posicionAgrupacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaAgrupacion">
      <soap:operation soapAction="http://tempuri.org/buscaAgrupacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaAgrupacion">
      <soap:operation soapAction="http://tempuri.org/actualizaAgrupacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaPais">
      <soap:operation soapAction="http://tempuri.org/eliminaPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAgrupacionSoap12" type="tns:WebServiceAgrupacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaTodasLasAgrupaciones">
      <soap12:operation soapAction="http://tempuri.org/retornaTodasLasAgrupaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarAgrupacion">
      <soap12:operation soapAction="http://tempuri.org/guardarAgrupacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="posicionAgrupacion">
      <soap12:operation soapAction="http://tempuri.org/posicionAgrupacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaAgrupacion">
      <soap12:operation soapAction="http://tempuri.org/buscaAgrupacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaAgrupacion">
      <soap12:operation soapAction="http://tempuri.org/actualizaAgrupacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaPais">
      <soap12:operation soapAction="http://tempuri.org/eliminaPais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="esActivo">
      <soap12:operation soapAction="http://tempuri.org/esActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAgrupacion">
    <wsdl:port name="WebServiceAgrupacionSoap" binding="tns:WebServiceAgrupacionSoap">
      <soap:address location="http://feriaweb.ddns.net:1992/WebServiceAgrupacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAgrupacionSoap12" binding="tns:WebServiceAgrupacionSoap12">
      <soap12:address location="http://feriaweb.ddns.net:1992/WebServiceAgrupacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>